<h3>Über diese Seite</h3>
<p>
  Diese Website vereinigt die Uni-/Hochschulsport-Portale von Beuth, FU, HTW, HU und TU. <br />
  Sie ermöglicht das Durchsuchen aller Kurse, die in Berlin angeboten werden. <br />
  Die Suchergebnisse sind nicht live, sondern werden in regelmäßigen Abständen aktualisiert (der aktuelle
  Stand wird oben rechts angegeben). <br />
  Was mit dieser Seite nicht geht, ist die Buchung. Dafür einfach auf den Link zum entsprechenden Unisportportal
  ganz oben im Suchergebnis klicken. <br />
  Und bei Fragen und Anmerkungen einfach fragen: knut+unisport@k-nut.eu
</p>
