$header-background: rgb(104, 198, 14)

header
  background: $header-background
  padding: .5rem 2rem
  display: flex
  flex-wrap: wrap
  align-items: center
  margin-top: -1rem

  h1, nav
    display: inline-block
    margin-top: 1rem

  nav ul li
    list-style-type: none
    display: inline-block
    margin-left: 2rem

  a
    text-decoration: none
    color: white
    display: inline-flex
    &.active
      font-weight: bold

footer
  padding: 2rem 0 1rem 2rem
  a
    color: gray
    text-decoration: none
