table
  tr:nth-child(even)
    background: #b9b9b9

.pagination
  margin: 2rem 0
  ul
    list-style-type: none
    display: inline-block
  li
    display: inline-block
    margin-left: 1rem

  button
    border: none
    cursor: pointer
    background: transparent

  .selected
    font-weight: bold

.sportsClass
  margin-top: 3rem

table
  thead
    font-weight: bold
