<div class="container">
  <form (ngSubmit)="getSportsClasses()" style='display: inline-block'>
    <input class='search' type="text" list="classes" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Suchen...">
    <input type="submit" value="Suchen" />
    <datalist id="classes">
      <option *ngFor="let class of classes">{{class}}</option>
    </datalist>

    <div class="additionalFilters">
      Angeboten am:
      <label *ngFor="let day of days" class="checkbox-inline">
        <input type="checkbox" [(ngModel)]="day.selected" name="{{day.name}}"/>{{day.name}}
      </label>

      <select [(ngModel)]="bookable" name="bookableOptions">
        <option value="false">Alle Kurse</option>
        <option value="true">Nur buchbare</option>
        <option value="waitingList">Buchbar &amp; Warteliste</option>
      </select>
    </div>

  </form>

  <p style='float: right'> Datenstand: <span id='lastUpadated'>{{lastUpdated | date : "dd.MM.yyyy"}}</span> </p>

  <div class="spinner" data-ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="pagination">
    Seite:
    <ul>
      <li *ngFor="let page of pages">
        <button [ngClass]="{'selected': currentPage === page}" (click)="setPage(page)">{{page}}</button>
      </li>
    </ul>
    <div>
      Zeige Ergebnisse {{ pagination.start }} bis {{ pagination.end }} von {{sportsClasses.length}}
    </div>
  </div>

  <div *ngFor="let sportsClass of sportsClasses | slice:pagingStart:pagingStart+10" class="sportsClass">

    <h2> {{ sportsClass.name }} </h2>

    <a class="resultLink" href="{{ sportsClass.url }}"> {{ sportsClass.url }} </a>

    <button (click)="sportsClass.toggleVisibility()">Beschreibung anzeigen</button>

    <p class="details"
       [myHighlight]="searchTerm"
       [text]="sportsClass.description"
       *ngIf="sportsClass.showDescription"
       [@fadeInOut]></p>

    <div class="tableContainer">
      <table>
        <colgroup>
          <col style="width: 20%">
          <col style="width: 10%">
          <col style="width: 10%">
          <col style="width: 10%">
          <col style="width: 10%">
          <col style="width: 10%">
          <col style="width: 10%">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Tag</th>
            <th>Zeit</th>
            <th>Zeitraum</th>
            <th>Ort</th>
            <th>Preis</th>
            <th>Buchbar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let course of sportsClass.courses'>
            <td> {{course.name }} </td>
            <td> {{course.day }} </td>
            <td> {{course.time }} </td>
            <td> {{course.startDate}}-{{course.endDate}} </td>
            <td> {{course.place }} </td>
            <td> {{course.price }} </td>
            <td> {{course.bookable }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
