<div class="container">
  <form (ngSubmit)="getSportsClasses()" style='display: inline-block'>
    <input class='search' type="text" list="classes" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Suchen...">
    <input type="submit" value="Suchen" />
    <datalist id="classes">
      <option *ngFor="let class of classes">{{class}}</option>
    </datalist>

    <div class="additionalFilters">
      Angeboten am:
      <label *ngFor="let day of days" class="checkbox-inline">
        <input type="checkbox" [(ngModel)]="day.selected" name="{{day.name}}"/>{{day.name}}
      </label>

      <select [(ngModel)]="bookable" name="bookableOptions">
        <option value="false">Alle Kurse</option>
        <option value="true">Nur buchbare</option>
        <option value="waitingList">Buchbar &amp; Warteliste</option>
      </select>
    </div>

  </form>

  <p style='float: right'> Datenstand: <span id='lastUpadated'>{{lastUpdated | date : "dd.MM.yyyy"}}</span> </p>

  <div class="spinner" data-ng-show="loading">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <div class="pagination">
    Seite:
    <ul>
      <li *ngFor="let page of pages">
        <button [ngClass]="{'selected': currentPage === page}" (click)="setPage(page)">{{page}}</button>
      </li>
    </ul>
    <div>
      Zeige Ergebnisse {{ pagination.start }} bis {{ pagination.end }} von {{sportsClasses.length}}
    </div>
  </div>

  <sports-class *ngFor="let sportsClass of sportsClasses | slice:pagingStart:pagingStart+10"
                class="sportsClass"
                [sportsClass]="sportsClass"
                [searchTerm]="searchTerm"></sports-class>
</div>
