<div class="container">
  <form (ngSubmit)="getSportsClasses()">
    <div class="mainSearch">
      <input class='search' type="text" list="classes" name="searchTerm" [(ngModel)]="searchTerm"
             placeholder="Suchen...">
      <input type="submit" value="Suchen"/>
    </div>
    <datalist id="classes">
      <option *ngFor="let class of classes">{{class}}</option>
    </datalist>

    <div class="additionalFilters">
      <div>
        Angeboten am:
        <label *ngFor="let day of days" class="checkbox-inline">
          <input type="checkbox" [(ngModel)]="day.selected" name="{{day.name}}"/>{{day.name}}
        </label>
      </div>


      <div>
        Verfügbarkeit:
        <label>
          <input [(ngModel)]="bookable" type="radio" value="false" name="bookable"/> Alle Kurse
        </label>
        <label>
          <input [(ngModel)]="bookable" type="radio" value="true" name="bookable"/> Nur buchbare
        </label>
        <label>
          <input [(ngModel)]="bookable" type="radio" value="waitingList" name="bookable"/> Buchbar & Warteliste
        </label>
      </div>
    </div>

  </form>

  <ng-template [ngIf]="hasData" [ngIfElse]="noData">
    <div class="results-count">{{ sportsClasses.length }} Kurse gefunden</div>

    <unisport-sports-class
      *ngFor="let sportsClass of sportsClasses | slice:pagingStart:pagingStart+10"
      class="sportsClass"
      [sportsClass]="sportsClass"
      [searchTerm]="searchTerm"></unisport-sports-class>

    <div class="pagination">
      Seite:
      <ul>
        <li *ngFor="let page of pages">
          <button [ngClass]="{'selected': currentPage === page}" (click)="setPage(page)">{{page}}</button>
        </li>
      </ul>
    </div>
  </ng-template>

  <ng-template #noData>
    <ng-template [ngIf]="!searchTerm" [ngIfElse]="noResults">
      <div class="disclaimer">
        Willkommen auf unisport.berlin. Durchsuche alle Unisportkurse von FU, HU, TU, HTW, Beuth und der Uni Potsdam
        an einer Stelle!
      </div>
    </ng-template>
  </ng-template>

  <ng-template #noResults>
    Keine Ergebniss gefunden
  </ng-template>
</div>
